* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:white;
}

#fullpage {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  text-align:center;
  vertical-align:middle;
  overflow-y: auto;
}

a.bab {
  display:block;
  padding: 10px 10px;
  background: #4479BA;
  color: #FFF;
  margin: 10px;
  line-height: 20px;
  text-decoration: none;
}

a.bagian {
  display:block;
  padding: 10px 10px;
  background: #669ADC;
  color: #FFF;
  margin: 10px 20px;
  line-height: 20px;
  text-decoration: none;
}

a.paragraf {
  display:block;
  padding: 10px 10px;
  background: #88BCFE;
  color: #FFF;
  margin: 10px 30px;
  line-height: 20px;
  text-decoration: none;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}
